
/* All styles for the Projects Layout! */
* {
    box-sizing: border-box;
}
header {
    text-align: center;
    font-size: 20px;
    border: 2px;
    background: linear-gradient(to right, #a18cd1, #fbc2eb);
}
head {
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 50px;
}
h1,h2 {
    color: #800080;
}
h3 {
    color: navy;
}
p {
    color: black;
}
section {
    padding: 15px;
}
footer {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 15px;
    background-color: purple;
    color: white;
}
.main-nav {
    display: flex;
    background-color: black;
    font-size: 20px;
    margin: 0;
    padding: 15px 10px;
    justify-content: flex-start;
    width:100%;
    gap: 40px;
}
.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    display: inline-block;
    transition: background-color 0.2s;
}
.main-nav a:hover {
    background-color: blueviolet;
    border-radius: 5px;
}
.active {
    background-color: blueviolet;
}
main {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

ul {
    background-color: white;
}
aside {
    background-color: whitesmoke;
    flex: 1;
    padding: 10px;
    height: auto;
    top: 0;
    position: sticky;
}
article {
    background-color: white;
}

/* Unique Code */
button {
    font-size: 22px;
}
.row {
    margin:8px -16px;
    flex-grow: 1;
    padding: 20px;
}
/* Add padding between each column*/
.row, .row > .column {
    padding: 8px;
}
/* Create four equal columns that float next to each other. */
.column {
    float: left;
    width: 25%;
    display: none;
}
/* Clear floats after rows. */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color: #f1b7f3;
    padding: 10px;
    border-radius: 10px;
}
.content img {
    width: 100%;
}
/* Added to the filtered elements. */
.show {
    display: block;
}
#myBtnContainer {
    background-color: whitesmoke;
    padding: 20px;
    height: 100vh;
    flex-direction: column;
    display: flex;
}
.btn {
    border: none;
    outline: none;
    padding: 15px 15px;
    background-color: wheat;
    color: black;
    cursor: pointer;
}
.btn:hover {
    background-color: lightcoral;
}
.btn.active {
    background-color: lightcoral;
    color: aliceblue;
    border: none;
    padding: 15px 15px;
    outline: none;
    cursor: pointer;
}
.content h3 {
    text-align: center;
}
.content a {
    color: black;
}
.content a:hover {
    color: purple;
}