
.sideshow-container {
    text-align: center;
}
.sideshow {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    border: 5px solid #2e2348;
    text-align: center;
}
.thumbnail {
    padding: 0;
}
/* Hide the images by default */
.mySlides {
    background-color: black;
    display: none;
    text-align: center;
}
.mySlides:first-child {
    display: block;
}
.mySlides img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/* Number text (1/3 etc) */
.numbertext {
    color: plum;
    font-size: 30px;
    font-weight: 600;
    background-color: #2e2348;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: black;
    background-color: lightgray;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: lightslategray;
    font-weight: 700;
    font-size: 65px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    transition: color 0.15s, background-color 0.15s;
}

/* Container for image text */
.caption-container {
    display: block;
    text-align: center;
    background-color: #2e2348;
    padding: 2px 2px;
}
#caption {
    color: plum;
    font-size: 40px;
    font-weight: 600;
}

/* Small Images Row */
.sideshow-row:after {
    content: "";
    display: table;
    clear: both;
}
/* Six columns side by side */
.sideshow-column {
    float: left;
    width: 25%;
}
.sideshow-column img {
    width: 100%;
}
/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    width: 100%;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
.active, .demo:hover {
    opacity: 1;
}


#description {
    background-color: #2e2348; 
    margin-top: 40px;
    color: plum;
}
#description h2, #description p {
    color: plum;
}
#description p {
    font-size: 22px;
}
#website-overview {
    background-color: #f1b7f3;
}
/* Change the format of videos*/
iframe {
    border: 5px solid purple;
    background-color: purple;
    display: flex;
    margin: 40px auto;
}
#myVideo {
    width: 640px;
    height: 360px;
    border: 4px solid purple;
    background-color: purple;
    display: flex;
    margin: 20px auto;
}

#website-overview, #description, #project-skills {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#back-button {
    padding-top: 0px;
    padding-bottom: 40px;
}
#back-button button {
    margin-left: 20px;
    padding: 15px 20px; 
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#back-button button:hover {
    background-color: blueviolet;
}

