head {
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
h1,h2 {
    color: #800080;
}
p {
    color: navy;
}
section {
    border: 2px solid blue;
    padding: 15px;
}
footer {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
/*li {
    float: left;
    border-right: 1px soild grey;
}*/

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    background-color: black;
    text-decoration: none;
}
nav a:hover {
    background-color: blueviolet;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.active {
    background-color: blueviolet;
}